bin
build
target
*.iml
*.ipr
*.iws
*.ids
.project
.classpath
.settings
.metadata
.idea
.gradle
*.h2.db
.DS_Store
.vscode
.factorypath
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
