<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{layout.title}">DDD Example E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
    <header id="header">
        <nav th:if="${categories}" class="categories">
            <a th:href="@{/}" class="home">&#127968;</a>
            <a th:each="category: ${categories}" th:href="'/category/' + ${category.uri}" th:text="${category.title}"></a>
            <a th:href="@{/cart}" class="cart">&#x1F6D2;</a>
        </nav>
    </header>

    <section id="content"><p>Loading app...</p></section>

    <footer id="footer" th:text="#{layout.footer}">
        DDD Example E-Commerce &copy; 2020
    </footer>

    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script th:src="@{/js/Application.js}" type="module" async></script>
</body>
</html>