<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DDD Example E-Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
    <header id="header">
        <catalog-categories-menu></catalog-categories-menu>
        <cart-menu-link></cart-menu-link>
    </header>

    <section id="content"><p>Loading app...</p></section>

    <footer id="footer">
        DDD Example E-Commerce &copy; 2020
    </footer>

    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script th:src="@{/js/Application.js}" type="module" async></script>
</body>
</html>