body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffe6;
    color: #222;
}

a {
    color: inherit;
}
input {
    border: 1px solid gray;
    padding: 0.2em 0.5em;
}

#header {
    background-color: #66a3ff;
    color: white;
    font-weight: bold;
    padding: 0 2em;
    height: 3em;
}

#content {
    padding: 2em;
}

#footer {
    background-color: lightgrey;
    color: grey;
    padding: 2em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.success {
    color: green;
}
.error {
    color: red;
}
input.error {
    border-color: red;
}

catalog-categories-menu {
    float: left;
    padding: 1em;
}
.categories a {
    color: inherit;
    display: inline-block;
    padding-right: 2em;
}
.categories a.home {
    text-decoration: none;
}

cart-menu-link {
    display: inline-block;
    float: right;
    padding: 1em;
}
cart-menu-link a {
    text-decoration: none;
    color: yellow;
}

.products .product th, .products .product td {
    border-bottom: 1px solid grey;
}
.products .product th {
    text-align: left;
}
.products .product .stock {
    font-style: italic;
    color: grey;
}
.products .product .price {
    text-align: right;
    font-style: italic;
    color: darkgreen;
}

cart-buy-button .buy {
    border: 1px solid #888;
    background-color: #ddd;
    padding: 0.2em 0.5em;
    text-decoration: none;
    cursor: pointer;
}

.cart .item td {
    border-bottom: 1px solid grey;
}
.cart .item .remove {
    text-decoration: none;
    color: red;
    cursor: pointer;
}
.cart .item .quantity {
    font-weight: bold;
}
.cart .order {
    padding: 2em 0;
    font-weight: bold;
}
